.App {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-top {
  background-color: rgb(0, 204, 255);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  width: 100%;
}

.Chat-list {
  padding: 15px 0;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.Chat-message {
  display: flex;
  margin-top: 12px;
}
.Chat-message > .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}
.Chat-message.currentMember {
  text-align: right;
  flex-direction: row-reverse;
}

.Chat-content {
  display: inline-block;
}

.currentMember > .Chat-content {
  align-items: flex-end;
}



.Chat-content > .username {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  font-size: 13px;
  padding-bottom: 2px;
}

.Chat-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: orange;
  color: white;
  display: inline-block;
}

.currentMember > .Chat-content .text {
  background-color: rgb(0, 204, 255);
}

button {
  padding: 10px 10px;
  font-size: 20px;
  background-color: rgb(0, 204, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  border: rgb(0, 204, 255);
  border-radius: 10px;
  margin-left: 10px;
}
button:hover{
  background-color:orange;
  cursor: pointer;
}
form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgb(0, 204, 255);
  flex-grow: 1;
}